# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
save-terraform-files.js
.terraform.lock.hcl
terraform.tfstate
.terraform
backend/infra/terraform/plan.out
.build
*.backup
*.*.backup
backend/infra/terraform/terraform.tfstate.backup
backend/infra/terraform/terraform.tfstate.backup
backend/services/user-service/app/__pycache__/*
backend/infra/terraform/coverage/*
backend/services/user-service/coverage.xml
backend/services/user-service/.coverage
backend/infra/terraform/coverage/clover.xml
backend/infra/terraform/coverage/lcov-report/index.html
backend/infra/terraform/coverage/lcov-report/lambdas/appsync_create_user/index.html
backend/infra/terraform/coverage/lcov-report/lambdas/appsync_create_user/index.mjs.html
backend/infra/terraform/coverage/lcov-report/resolvers/addTask.js.html
backend/infra/terraform/coverage/lcov-report/resolvers/createGoal.js.html
backend/infra/terraform/coverage/lcov-report/resolvers/index.html
backend/infra/terraform/coverage/lcov-report/resolvers/isEmailAvailable.js.html
backend/infra/terraform/coverage/lcov-report/resolvers/isNicknameAvailable.js.html
backend/infra/terraform/coverage/lcov-report/resolvers/onMessage.subscribe.js.html
backend/infra/terraform/coverage/lcov-report/resolvers/sendMessage.js.html
backend/infra/terraform/coverage/lcov-report/test/mocks/appsync-utils-dynamodb.js.html
backend/infra/terraform/coverage/lcov-report/test/mocks/appsync-utils.js.html
backend/infra/terraform/coverage/lcov-report/test/mocks/index.html
backend/services/user-service/tests/__pycache__/conftest.cpython-313-pytest-8.4.2.pyc
backend/services/user-service/tests/__pycache__/test_repository.cpython-313-pytest-8.4.2.pyc
backend/services/user-service/tests/__pycache__/test_service.cpython-313-pytest-8.4.2.pyc
backend/services/user-service/tests/__pycache__/test_signup.cpython-313-pytest-8.4.2.pyc
backend/infra/terraform/coverage/clover.xml
backend/infra/terraform/coverage/lcov-report/index.html
backend/infra/terraform/coverage/lcov-report/lambdas/appsync_create_user/index.html
backend/infra/terraform/coverage/lcov-report/lambdas/appsync_create_user/index.mjs.html
backend/infra/terraform/coverage/lcov-report/resolvers/addTask.js.html
backend/infra/terraform/coverage/lcov-report/resolvers/createGoal.js.html
backend/infra/terraform/coverage/lcov-report/resolvers/index.html
backend/infra/terraform/coverage/lcov-report/resolvers/isEmailAvailable.js.html
backend/infra/terraform/coverage/lcov-report/resolvers/isNicknameAvailable.js.html
backend/infra/terraform/coverage/lcov-report/resolvers/onMessage.subscribe.js.html
backend/infra/terraform/coverage/lcov-report/resolvers/sendMessage.js.html
backend/infra/terraform/coverage/lcov-report/test/mocks/appsync-utils-dynamodb.js.html
backend/infra/terraform/coverage/lcov-report/test/mocks/appsync-utils.js.html
backend/infra/terraform/coverage/lcov-report/test/mocks/index.html
