# AWS Configuration
aws_region = "us-east-1"

# Environment Configuration
environment = "dev"
project_name = "goalsguild"

# Guild Table Configuration
guild_table_name = "gg_guild"
guild_service_role_name = "goalsguild-guild-service-role-dev"

